.ChannelIntro {
  content: "";
  background-image: url(../../Assets/Images/channel-intro.jpg);
  height: 280px;
  width: 1200px;
  background-position: center;
  background-size: cover;
  border-radius: 14px;
  margin-top: 20px;
}
